-timescale 1{{ timescale_unit }}/1{{ timescale_unit }}
{% if layout == 'packaged' %}
-f {{ dut.name }}_test_pkg.f
{% else %}
-f pkg.f
{% endif %}
+incdir+..
clkgen.sv
{{ dut.name }}.sv
tb_top.sv
{% if reference_model.language == 'c' %}
{{ dut.name }}_reference_model.c
{% endif %}
-y . +libext+.sv

// Add extra sim args, incdirs or sources below (preserved across regeneration):
// pragma quickuvm custom extra_run_args begin
// pragma quickuvm custom extra_run_args end
