-timescale 1{{ clock.unit }}/1{{ clock.unit }}
-f pkg.f
+incdir+..
clkgen.sv
{{ dut.name }}.sv
top.sv
-y . +libext+.sv

// Add extra sim args, incdirs or sources below (preserved across regeneration):
// pragma quickuvm custom extra_run_args begin
// pragma quickuvm custom extra_run_args end
