#!/bin/sh
# Siemens Questa runner (qrun, single call) -- {{ project.name }}. Run:
#   sh sim_questa.sh +UVM_TESTNAME=<test>
# qrun auto-creates the work library, so no separate `vlib work` is needed.
exec qrun \
  -uvm \
  -timescale 1{{ timescale_unit }}/1{{ timescale_unit }} \
  -top {{ top_name }} \
{% if reference_model.language == 'c' %}
  {{ dut.name }}_reference_model.c \
{% endif %}
  -f compile.f \
  "$@"
